#ignore everything in the root folder except wp-content
/*
/*/
!wp-content/

#ignore everything in the wp-content directory with excepts
wp-content/*
!wp-content/plugins
!wp-content/themes

#ignore twenty
wp-content/themes/twenty*/
