@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.swiper-container {
  width: 100%;
}

/*
 * Globais
 */

/* Backdrop */
#backdrop {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.3s;

  @media (min-width: 768px) {
    & {
      display: none !important;
    }
  }
}

/* Botão arredondado */
.rounded-button {
  display: inline-flex;
  align-items: center;
  height: 40px;
  padding: 9px 36px;
  color: #FFFFFF !important;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  text-decoration: none !important;
  background: #D22688;
  border-radius: 40px;

  &.white {
    color: #D22688 !important;
    background: #FFFFFF;
  }
}

/* Hamburger holder */
.hamburger-holder {
  display: block;
  width: 32px;
  height: 40px;
}

/* Conteúdo WYSIWYG */
.conteudo-wysiwyg {
  p {
    font-size: 22px;
    line-height: 150%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 40px 0 20px;
    line-height: 120%;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: #D22688;
  }

  h1 {
    font-size: 66px;
    font-weight: 600;
  }
  
  h2 {
    font-size: 35px;
    font-weight: 600;
  }
  
  h3 {
    font-size: 29px;
    font-weight: 600;
  }
  
  h4 {
    font-size: 24px;
    font-weight: 600;
  }
  
  h5 {
    font-size: 22px;
    font-weight: 600;
  }

  h6 {
    font-size: 22px;
    font-weight: 500;
  }

  ul, ol {
    font-size: 22px;
    line-height: 150%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  iframe {
    max-width: 100%;
  }

  blockquote.wp-block-quote {
    border-left: solid 5px #D22688;
    padding: 10px 0 10px 10px;
    margin: 40px 0;

    p:last-child {
      margin-bottom: 0;
    }
  }

  figure {
    &.alignright img {
      float: right;
      margin: 5px 0 20px 20px;
    }

    &.alignnone img {
      margin: 5px 20px 20px 0;
    }

    &.alignleft img {
      float: left;
      margin: 5px 20px 20px 0;
    }

    &.aligncenter img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .wp-block-embed.wp-block-embed-youtube {
    display: block;
    margin: 40px auto;
    max-width: 720px;

    .wp-block-embed__wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
  }
  @media (max-width: 767.98px) {
    p {
      font-size: 20px;
    }
  }
  @media (max-width: 575.98px) {
    p {
      font-size: 18px;
    }
  }
}

/* Paginação */
.paginacao {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin: -10px 0;
  padding: 0;
  list-style: none;

  .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 65px;
    padding: 0 10px;
    margin: 10px;
    height: 58px;
    border-radius: 10px;
    background: #FFFFFF;
    color: #000;
    box-shadow: 0px 5px 10px #5B5B5B33;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: normal;
    text-transform: uppercase;
    text-decoration: none !important;
    transition: background 400ms, color 400ms;

    &:hover {
      background-color: #FAFAFA;
    }

    &.prev,
    &.next {
      background: none;
      padding: 0 8px;
      color: #070D10;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 16px;
      line-height: 130%;
    }

    &.prev {
      background: url(../images/paginacao-anterior.svg) no-repeat center center;
      background-size: 8px;
    }

    &.next {
      background: url(../images/paginacao-proximo.svg) no-repeat center center;
      background-size: 8px;
    }

    &.dots,
    &.dots:hover {
      background-color: transparent;
      border: none;
      color: #070D10;
    }

    &.current,
    &.current:hover {
      color: #FFF;
      background-color: #D22688;
    }

    &.prev:hover,
    &.next:hover {
      background-color: #FAFAFA;
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    .page-numbers {
      min-width: 42px;
      height: 37px;
    }
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 575.98px) {
  }
}

/* Breadcrumb */
.breadcrumb {
    display: block;
    width: 100%;
    padding: 30px 0;
    
    ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        
        & > li {
            display: inline-flex;
            position: relative;
            margin: 0;
            margin-right: 10px;
            padding: 0;
            padding-right: 14px;
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            color: #000;
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                width: 6px;
                height: 6px;
                top: 7px;
                right: 0px;
                border: solid 1px #d22688;
                border-top: 0;
                border-left: 0;
                transform: rotate(-45deg);
            }
            
            &:last-child {
                margin-right: 0;
            }
            
            &:last-child:after {
                content: unset;
                display: none;
            }
            
            & > a {
                display: block;
                color: #d22688 !important;
                text-decoration: none !important;
                text-transform: lowercase;
                
                &:hover {
                    text-decoration: underline !important;
                }
            }
        }
    }
}


/*
 * Itens
 */

/* Pergunta (list) */
.pergunta-list {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 15px;
  padding: 0;
  border: solid 1px #D4D4D4;
  border-radius: 20px;

  .pergunta {
    display: block;
    position: relative;
    width: 100%;
    line-height: 120%;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
    padding: 20px 70px 20px 20px;
    margin: 0;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      background-image: url(../images/bloco-perguntas-frequentes-arrow.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center center;
      width: 30px;
      height: 30px;
      margin-top: -15px;
      transition: transform 300ms;
    }
  }

  .resposta {
    display: none;
    width: 100%;
    padding: 0 20px 20px;

    p:last-child {
      margin-bottom: 0;
    }
  }

  &.ativo {
    .pergunta {
      &:after {
        transform: rotate(-180deg);
      }
    }

    .resposta {
      display: block;
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 575.98px) {
    .pergunta {
      font-size: 16px;
    }
  }
}

/* Post (Card) */
.post-card {
  display: block;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  color: #000000 !important;

  .imagem {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 15px;
    border-radius: 20px;
    transition: box-shadow 0.3s;
  }

  .categoria {
    display: block;
    margin: 0 0 10px;
    color: #D22688;
    font-size: 18px;
    font-weight: 500;
  }

  .nome {
    display: block;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    color: #000000;
    transition: color 0.3s;
  }

  .ler-mais {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    color: #D22688;
    text-decoration: underline;
  }

  &:hover {
    .nome {
      color: #D22688;
    }

    .imagem {
      box-shadow: 0px 5px 10px #5b5b5b33;
    }
  }

  &.mini {
    .categoria {
      font-size: 16px;
      font-weight: 400;
    }

    .nome {
      font-size: 20px;
    }

    .ler-mais {
      font-size: 16px;
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
  }
  @media (max-width: 767.98px) {
    .post-card {
      padding-bottom: 0;
    }
  }
  @media (max-width: 575.98px) {
  }
}

/*
 * Topos
 */

/* Padrão */
header.padrao {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
  padding: 20px 0;
  background: #FFF;
  z-index: 999;
  box-shadow: 0px 10px 20px #91919126;

  .row:nth-child(1) {
    margin-bottom: 10px;
  }
  
  .logo {
    width: auto;
    height: auto;
  }

  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      display: block;
      position: relative;
      margin: 0 20px;
      padding: 0;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        background: #FFF;
        border-radius: 10px;
        top: 29px;
        left: 50%;
        transform: translateX(-4px);
      }

      &:hover {
        &:before {
          background: #D22688;
        }
      }

      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }

      & > a {
        display: block;
        color: #000000 !important;
        text-decoration: none !important;
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
      }

      &.menu-item-has-children {
        padding: 0 18px 0 0;
        
        &:before {
          transform: translateX(-14px);
        }

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 6px;
          height: 6px;
          top: 6px;
          right: 1px;
          border: solid 1px #000000;
          border-top: 0;
          border-left: 0;
          transform: rotate(45deg);
          transition: transform 0.3s;
        }

        .sub-menu {
          display: none;
          position: absolute;
          min-width: 250px;
          padding: 34px 0 0;
          margin: 0;
          list-style: none;
          z-index: 999;
          left: 50%;
          transform: translateX(-50%);

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 34px;
            left: 0;
            right: 0;
            bottom: 0;
            background: #FFFFFF;
            box-shadow: 0px 3px 30px #23232333;
            border-radius: 20px;
            z-index: 1;
          }

          & > li {
            display: block;
            position: relative;
            padding: 16px 0;
            margin: 0 20px;
            border-bottom: solid 1px rgba(112, 112, 112, 0.5);
            z-index: 2;

            &:last-child {
              border: none;
            }

            a {
              display: block;
              font-size: 18px;
              line-height: 120%;
              color: #000000 !important;
              text-decoration: none !important;
              font-weight: 400;
              transition: color 0.3s;

              &:hover {
                color: #D22688 !important;
              }
            }
          }
        }

        &:hover {
          .sub-menu {
            display: block;
          }

          &:after {
            top: 8px;
            transform: rotate(-135deg);
          }
        }
      }

      &:first-child {
        .sub-menu {
          left: 0;
          transform: none;
        }
      }
    }
  }

  #pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 50px;
    background: transparent;
    padding: 0;
    margin: 0 -15px;
    border: none;
    outline: none;
    -webkit-appearance: none;
    cursor: default;

    .botao-alternar {
      display: block;
      position: absolute;
      width: 50px;
      height: 50px;
      z-index: 4;
      padding: 16px;
      top: 0;
      left: 0;
      margin: 0;
      background: transparent;
      border: none;
      outline: none;
      opacity: 0;
      -webkit-appearance: none;
      transition: opacity 0.3s;
      color: #000000;
      cursor: pointer;

      .icone {
        display: block;
        width: 100%;
        height: 100%;
        color: inherit;  
      }
    }

    .botao-pesquisar {
      display: block;
      position: relative;
      width: 20px;
      height: 20px;
      z-index: 3;
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      outline: none;
      -webkit-appearance: none;
      transition: color 0.3s, transform 0.3s;
      color: #000000;
      cursor: pointer;

      .icone {
        display: block;
        width: 100%;
        height: 100%;
        color: inherit;  
      }
    }

    .sobreposicao {
      display: block;
      position: absolute;
      top: 100%;
      right: 0;
      width: 0;
      height: 50px;
      background: #F1F1F1;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      z-index: 2;
      opacity: 0;
      transition: opacity 0.3s ease 0.3s, width 0.3s ease 0.3s;
      box-shadow: 0px 5px 10px #5B5B5B33;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 50px;
        height: 10px;
        right: 0;
        bottom: 100%;
        background: #F1F1F1;
      }

      input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        background: transparent;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 0 0 0 20px;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        opacity: 0;
        transition: opacity 0.3s;
      }
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background: #F1F1F1;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s ease 0.3s;
      box-shadow: 0px 5px 10px #5B5B5B33;
    }

    &.aberta {
      .botao-alternar {
        opacity: 1;
      }

      .botao-pesquisar {
        color: #D22688;
        transform: translateY(50px);
      }

      .sobreposicao {
        width: 350px;
        opacity: 1;
        transition: opacity 0.3s, width 0.3s;

        input {
          opacity: 1;
          transition: opacity 0.3s ease 0.3s;
        }
      }

      &:before {
        opacity: 1;
        transition: opacity 0.3s;
      }
    }
  }

  @media (max-width: 1199.98px) {
    .menu {
      & > li {
        & > a {
          font-size: 16px;
        }
      } 
    }
  }
  @media (max-width: 991.98px) {
    height: 82px;

    > .container {
      max-width: 100%;
    }
  
    & > .row:first-child {
      flex-wrap: nowrap;
    }
  
    .logo {
      display: block;
      width: 100%;
      max-width: 190px;
    }
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 575.98px) {
    .rounded-button {
      height: 36px;
      padding: 9px 28px;
      font-size: 16px;
    }
  }
}

/* Menu Hamburger */
section.menu-hamburger {
  display: none;
  height: 82px;
  padding: 20px 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  color: #D22688;

  .hamburger {
    padding: 0;
    outline: none;
    height: 40px;
    color: inherit;
    position: relative;
    transition: color 0.3s;

    &:active,
    &:hover {
      opacity: 1;
    }

    .hamburger-box {
      display: block;
      width: 32px;

      .hamburger-inner {
        top: 3px;
      }

      .hamburger-inner,
      .hamburger-inner:after,
      .hamburger-inner:before {
        background-color: currentColor;
        width: 32px;
        height: 2px;
      }
    }

    &.hamburger-box {
      padding: 8px 0;
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    display: block;
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 575.98px) {
  }
}

body.menu-mobile-active {
  section:not(section.menu-hamburger),
  footer {
    filter: blur(10px);
  }

  section.menu-hamburger {
    color: #FFFFFF;
  }
}

/* Navegação Mobile */
nav.mobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  background: #D22688;
  color: #FFFFFF;
  z-index: 99998;
  overflow: hidden;
  opacity: 0;
  border-bottom-left-radius: 140px;
  transition: opacity 0.3s, border-radius 0.3s, height 0.3s;

  .header {
    display: block;
    height: 40px;
    margin: 20px 0 0;
    transition: opacity 0.3s, transform 0.3s;

    .botao-pesquisar {
      display: block;
      position: relative;
      width: 20px;
      height: 20px;
      z-index: 3;
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      outline: none;
      -webkit-appearance: none;
      transition: color 0.3s, transform 0.3s;
      color: #FFFFFF;
      cursor: pointer;
  
      .icone {
        display: block;
        width: 100%;
        height: 100%;
        color: inherit;  
      }
    }
  }

  .search {
    display: block;
    position: absolute;
    top: 20px;
    left: 15px;
    right: 15px;
    opacity: 0;
    transform: translateY(-82px);
    transition: opacity 0.3s, transform 0.3s;

    input[type=text] {
      display: block;
      width: 100%;
      height: 42px;
      padding: 5px 15px;
      background: #FFFFFF;
      font-size: 13px;
      color: #000000;
      line-height: 120%;
      font-weight: 400;
      border: none;
      outline: none;
      border-radius: 42px;
    }

    button[type=submit] {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 42px;
      height: 42px;
      right: 15px;
      top: 50%;
      padding: 0;
      margin: 0;
      background: transparent;
      border: none;
      outline: none;
      -webkit-appearance: none;
      transition: color 0.3s, transform 0.3s;
      color: #D22688;
      cursor: pointer;
      transform: translateY(-50%);

      .icone {
        display: block;
        width: 20px;
        height: 20px;
        color: inherit;  
      }
    }
  }

  .content {
    display: block;
    overflow: auto;
    transition: opacity 0.3s, transform 0.3s;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      height: 50px;
      z-index: 1;
    }

    &:before {
      top: 60px;
      background: linear-gradient(0deg, rgba(210,38,136,0) 0%, rgba(210,38,136,1) 100%);
    }
    
    &:after {
      bottom: 20px;
      background: linear-gradient(0deg, rgba(210,38,136,1) 0%, rgba(210,38,136,0) 100%);
    }

    .menu {
      display: block;
      margin: 70px 0;
      padding: 0;
      list-style: none;
  
      & > li {
        display: block;
        align-items: center;
        position: relative;
        margin: 0;
        padding: 0 15px;
        border-bottom: solid 1px rgba(255, 255, 255, 0.3);
  
        & > a {
          display: flex;
          position: relative;
          align-items: center;
          flex-grow: 1;
          margin: 0 35px 0 0;
          padding: 15px 0;
          color: #FFFFFF;
          font-weight: 600;
          line-height: 120%;
          font-size: 18px;
          text-decoration: none !important;
        }

        &.menu-item-has-children {
          &:before {
            transform: translateX(-14px);
          }

          > a:after {
            content: '';
            display: block;
            position: absolute;
            width: 8px;
            height: 8px;
            right: -30px;
            border: solid 2px #FFFFFF;
            border-top: 0;
            border-left: 0;
            user-select: none;
            pointer-events: none;
            margin-top: -3px;
            transform: rotate(45deg);
            transition: transform 0.3s, margin 0.3s;
          }
          
          &.opened {
            & > a:after {
              margin-top: 5px;
              transform: rotate(-135deg);
            }
          }

          & > ul.sub-menu {
            display: none;
            margin: 0 0 15px;
            padding: 0;
            list-style: none;
    
            & > li {
              display: block;
              margin: 15px 0;
              padding: 0;
    
              & > a {
                display: block;
                color: #FFFFFF;
                font-weight: 400;
                line-height: 120%;
                font-size: 18px;
                text-decoration: none !important;
              }
    
              &:first-child {
                margin-top: 0;
              }
    
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
  
        &:last-child {
          border: none;
        }
      }
    }
  }

  &.pesquisa {
    height: 82px !important;
    border-bottom-left-radius: 40px;

    .header,
    .content {
      opacity: 0;
      transform: translateY(82px);
    }
    
    .search {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 575.98px) {
    .rounded-button {
      height: 36px;
      padding: 9px 28px;
      font-size: 16px;
    }
  }
}

body.menu-mobile-active {
  nav.mobile {
    height: 90%;
    color: #FFF;
    opacity: 1;
  }
}

/*
 * Rodapés
 */

/* Padrão */
footer.padrao {
  display: block;
  width: 100%;
  background: #ECECEC;
  padding: 140px 0;

  .logo {
    max-width: 167px;
    height: auto;
  }

  .sociais {
    display: flex;
    align-items: center;
    margin: 20px 0 40px;
    padding: 0;

    & > li {
      display: block;
      margin: 0 10px;
      padding: 0;
      
      &:first-child {
        margin-left: 0;
      }
      
      &:last-child {
        margin-right: 0;
      }
      
      & > a {
        display: block;
        color: #000000 !important;
        transition: color 0.3s;

        & > svg {
          display: block;
          width: 30px;
          height: 30px;
        }

        &:hover {
          color: #D22688 !important;
        }
      }
    }
  }

  .titulo {
    display: block;
    font-size: 20px;
    line-height: 120%;
    margin: 0 0 15px;
    font-weight: 700;
  }

  .contatos {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      display: block;
      margin: 0 0 20px;

      &.email {
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
      }

      &.telefone {
        .rotulo {
          display: block;
          font-size: 20px;
          line-height: 120%;
          font-weight: 400;
          margin: 0 0 15px;
        }
        
        .numero {
          display: flex;
          align-items: center;
          flex-wrap: nowrap;
          font-size: 20px;
          font-weight: 400;
          line-height: 120%;

          .icone {
            display: block;
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .mcafee-logo {
        width: auto;
        height: auto;
    }
  }

  .conquistas-imagem {
    display: block;
    max-width: 200px;
  }

  .menu.institucional,
  .menu.credito {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    & > li {
      display: block;
      margin: 15px 0;

      & > a {
        display: block;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        color: #000000 !important;
        text-decoration: none !important;
        transition: color 0.3s;

        &:hover {
          color: #D22688 !important;
        }
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .termo {
    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 150%;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .separador {
    display: block;
    width: 100%;
    height: 1px;
    background: #000000;
    margin: 40px 0;
  }

  .menu.auxiliar {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      display: block;
      margin: 0 30px;
      padding: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }

      & > a {
        display: block;
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        color: #000000 !important;
        text-decoration: none !important;
        transition: color 0.3s;

        &:hover {
          color: #D22688 !important;
        }
      }
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    padding: 70px 0;

    .contatos {
      & > li {
        &.email {
          font-size: 18px;
        }

        &.telefone {
          .rotulo,
          .numero {
            font-size: 18px;
          }
        }
      }
    }
    
    .conquistas-imagem {
        margin: 0 auto 40px;
    }

    .menu.institucional {
      & > li {
        & > a {
          font-size: 18px;
        }
      }
    }

    .menu.auxiliar {
      & > li {
        margin: 0 15px;

        & > a {
          font-size: 16px;
        }
      }
    }
  }
  @media (max-width: 767.98px) {
    .sociais {
      margin-bottom: 0;
    }

    .titulo {
      margin-top: 40px;
    }

    .menu.auxiliar {
      display: block;
      justify-content: center;
      margin: 0 0 30px;
      text-align: center;
    }
  }
  @media (max-width: 575.98px) {
    .menu.auxiliar {
      & > li {
        margin: 5px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

/*
 * Blocos
 */

/* Perguntas */
section.bloco-perguntas-frequentes {
  display: block;
  width: 100%;
  padding: 0 0 70px;

  .titulo {
    display: block;
    margin: 0 0 30px;
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    color: #000;
  }

  .perguntas {
    .pergunta-list:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    .titulo {
      text-align: center;
      font-size: 30px;
    }
  }
  @media (max-width: 767.98px) {
    .titulo {
      font-size: 24px;
    }
  }
  @media (max-width: 575.98px) {
  }
}

/* Postagens Sugeridas */
section.bloco-postagens-sugeridas {
  display: block;
  width: 100%;
  padding: 80px 0;

  .navegacao {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 0 50px;

    .titulo {
      display: block;
      width: 100%;
      font-size: 35px;
      line-height: 120%;
      font-weight: 700;
      color: #000000;
  
      span {
        color: #D22688;
      }
    }

    .botao-anterior,
    .botao-proximo {
      display: none;
      width: 40px;
      height: 40px;
      background: transparent;
      border: none;
      -webkit-appearance: none;
      cursor: pointer;
      outline: none;

      .icone {
        display: block;
        width: 31px;
        height: 30px;
      }
    }

    .botao-anterior {
      margin-right: auto;
    }

    .botao-proximo {
      margin-left: auto;
    }
  }

  .posts {
    margin-bottom: -70px;

    .post-card {
      margin-bottom: 70px;
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    .navegacao {
      justify-content: center;

      .titulo {
        text-align: center;
        font-size: 30px;
      }

      .botao-anterior,
      .botao-proximo {
        display: block;
      }
    }
  }
  @media (max-width: 767.98px) {
    .navegacao {
      .titulo {
        font-size: 24px;
      }
    }

    .posts {
      margin: 0;

      .post-card {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 575.98px) {
    .posts {
      margin: 0 -15px;
    }
  }
}

section.bloco-baixe-o-aplicativo {
  display: block;
  background: #000000;
  color: #FFFFFF;
  padding: 50px 0;

  .logo {
    display: block;
    width: auto;
    height: auto;
  }

  .titulo {
    display: block;
    margin: 0;
    font-size: 27px;
    font-weight: 700;
    line-height: 120%;

    span {
      color: #D22688;
    }
  }

  .badges {
    display: flex;
    align-items: center;
    justify-content: center;

    .badge {
      display: block;
      height: 42px;
      margin: 0 10px;
      text-decoration: none !important;
      color: #000000;
  
      img {
        width: auto;
        height: 42px;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    .logo {
      margin: 0 auto 30px;
    }
  }
  @media (max-width: 767.98px) {
    .badges {
      margin: 30px 0 0;
    }
  }
  @media (max-width: 575.98px) {
    .titulo {
      font-size: 22px;
    }
  }
}

section.bloco-compartilhar-lateral {
  display: block;
  position: fixed;
  width: 52px;
  height: 222px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: #D22688;
  color: #FFFFFF;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 5px 10px #5B5B5B33;
  z-index: 9999;
  transition: height 0.3s;

  .botao {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 222px;
    height: 52px;
    top: 50%;
    left: 50%;
    border: none;
    outline: none;
    background: transparent;
    color: #FFF;
    font-weight: 400;
    line-height: 120%;
    font-size: 22px;
    opacity: 1;
    cursor: pointer;
    transform: translate(-50%, -50%) rotate(-90deg);
    transition: opacity 0.3s, transform 0.3s;

    .icone {
      display: block;
      width: 24px;
      height: 24px;
      transform: rotate(90deg);
      margin-left: 10px;
    }
  }

  .sociais {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    transform: translate(100%, -50%);
    transition: opacity 0.3s, transform 0.3s;

    & > li {
      display: block;
      margin: 15px 0;
      padding: 0;

      & > a {
        display: block;
        width: 32px;
        height: 32px;
        color: #FFFFFF;
      }

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &.aberto {
    .botao {
      opacity: 0;
      transform: translate(-100%, -50%) rotate(-90deg);
    }

    .sociais {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    height: 52px;
    left: unset;
    right: 0;
    border-radius: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  
    .botao {
      .rotulo {
        display: none;
      }
  
      .icone {
        margin: 0;
      }
    }
  
    &.aberto {
      height: 162px;
    }
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 575.98px) {
  }
}

/*
 * Home
 */

/* Destaques */
section.home-destaques {
  display: block;
  width: 100%;
  padding: 80px 0;

  .swiper-container {
    .navigation {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 70px 0 0;

      .swiper-pagination {
        position: static;
        margin: 0 30px;
  
        .swiper-pagination-bullet {
          width: 9px;
          height: 9px;
          margin: 0 7px;
          background-color: #D22688;
          opacity: 0.5;
          transition: opacity 0.3s;
        }
  
        .swiper-pagination-bullet-active {
          width: 10px;
          height: 10px;
          opacity: 1;
        }
      }
  
      .swiper-button-prev,
      .swiper-button-next {
        display: flex;
        width: 32px;
        height: 32px;
        align-items: center;
        justify-content: center;
        position: static;
        margin: 0;

        &:after {
          content: unset;
        }

        .icone {
          display: block;
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  .destaque-item {
    display: block;
    width: 100%;
    color: #000 !important;
    text-decoration: none !important;

    .imagem {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 20px;
    }

    .categoria {
      display: block;
      margin: 0 0 20px;
      font-size: 16px;
      font-weight: 500;
      color: #D22688;
      line-height: 120%;
    }

    .nome {
      display: block;
      margin: 0 0 30px;
      font-size: 35px;
      font-weight: 700;
      line-height: 120%;
      color: #000;
      transition: color 0.3s;
    }

    .resumo {
      display: block;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
      color: #000;
    }

    &:hover {
      .nome {
        color: #D22688;
      }
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    .destaque-item {
      .imagem {
        margin-bottom: 20px;
      }
    }

    .swiper-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .swiper-wrapper {
        order: 2;
      }

      .navigation {
        margin: 0 0 40px;
        order: 1;
      }
    }
  }
  @media (max-width: 767.98px) {
    .swiper-container {
      .navigation {
        .swiper-pagination {
          margin: 0;
        }

        .swiper-button-prev,
        .swiper-button-next {
          display: none;
        }
      }
    }
  }
  @media (max-width: 575.98px) {
  }
}

/* Listagem */
section.home-listagem {
  display: block;
  width: 100%;
  padding: 80px 0;

  .titulo {
    display: block;
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    line-height: 120%;
    color: #000000;
    margin: 0 0 50px;

    span {
      color: #D22688;
    }
  }

  .posts {
    .post-card {
      margin-bottom: 70px;
    }
  }
}

/* Sugeridos */
section.home-sugeridos {
  display: block;
  width: 100%;
  padding: 80px 0;

  .navegacao {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0 0 50px;

    .titulo {
      display: block;
      width: 100%;
      font-size: 35px;
      line-height: 120%;
      font-weight: 700;
      color: #000000;
  
      span {
        color: #D22688;
      }
    }

    .botao-anterior,
    .botao-proximo {
      display: none;
      width: 40px;
      height: 40px;
      background: transparent;
      border: none;
      -webkit-appearance: none;
      cursor: pointer;
      outline: none;

      .icone {
        display: block;
        width: 31px;
        height: 30px;
      }
    }

    .botao-anterior {
      margin-right: auto;
    }

    .botao-proximo {
      margin-left: auto;
    }
  }

  .posts {
    margin-bottom: -70px;

    .post-card {
      margin-bottom: 70px;
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    .navegacao {
      justify-content: center;

      .titulo {
        text-align: center;
        font-size: 30px;
      }

      .botao-anterior,
      .botao-proximo {
        display: block;
      }
    }
  }
  @media (max-width: 767.98px) {
    .navegacao {
      .titulo {
        font-size: 24px;
      }
    }

    .posts {
      margin: 0;
      
      .post-card {
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 575.98px) {
    .posts {
      margin: 0 -15px;
    }
  }
}

/*
 * Postagem
 */

/* Conteúdo */
section.post-conteudo {
  display: block;
  width: 100%;
  padding: 0 0 50px;

  .categorias {
    display: block;
    margin: 0 0 15px;
    color: #D22688;
    font-weight: 500;
    line-height: 120%;
    font-size: 22px;

    & > a {
      display: inline-block;
      color: #D22688;
      font-weight: 500;
      line-height: 120%;
      font-size: 22px;
    }
  }

  .nome {
    display: block;
    margin: 0 0 30px;
    color: #000000;
    font-weight: 700;
    line-height: 120%;
    font-size: 64px;
  }

  .detalhes {
    display: block;
    margin: 0 0 90px;
    color: #000000;
    font-weight: 400;
    font-size: 22px;
    opacity: 0.7;
    line-height: 120%;
  }

  .imagem-destacada {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 90px;
    border-radius: 40px;
  }

  @media (max-width: 1199.98px) {
    .nome {
      font-size: 48px;
    }
  }
  @media (max-width: 991.98px) {
    padding-top: 0;
      
    .nome {
      font-size: 40px;
    }

    .detalhes {
      margin-bottom: 40px;
    }

    .imagem-destacada {
      margin-bottom: 40px;
    }
  }
  @media (max-width: 767.98px) {
  }
  @media (max-width: 575.98px) {
    .categorias {
      font-size: 18px;
    }

    .detalhes {
      font-size: 30px;
    }

    .detalhes {
      font-size: 18px;
    }
  }
}

/* Comentários */
section.post-comentarios {
  display: block;
  width: 100%;
  padding: 70px 0;

  .titulo {
    display: block;
    margin: 0 0 30px;
    font-weight: 600;
    font-size: 35px;
    line-height: 120%;
    color: #D22688;
  }

  .fb-comments {
    width: 100%;
  }
}

/*
 * Pesquisa/Categoria
 */

/* Listagem */
section.search-listagem,
section.category-listagem {
  display: block;
  width: 100%;
  padding: 80px 0;

  .titulo {
    display: block;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    color: #000000;
    margin: 0 0 50px;

    span {
      color: #D22688;
    }
  }

  .posts {
    .post-card {
      margin-bottom: 70px;
    }
  }

  &.sem-resultados {
    .titulo {
      font-weight: 700;
    }

    .imagem {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }
  }
}

/*
 * Página
 */

/* Conteúdo */
section.page-conteudo {
  display: block;
  width: 100%;
  padding: 70px 0;

  .titulo {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    font-size: 35px;
    line-height: 120%;
    font-weight: 700;
    color: #000000;

    span {
      color: #D22688;
    }
  }

  @media (max-width: 1199.98px) {
  }
  @media (max-width: 991.98px) {
    .titulo {
      text-align: center;
      font-size: 30px;
    }
  }
  @media (max-width: 767.98px) {
    .titulo {
      font-size: 24px;
    }
  }
  @media (max-width: 575.98px) {
  }
}


/* Ajuste gerais */
body {
  padding-top: 130px;

  &.menu-mobile-active {
    overflow: hidden;
  }

  header {
    top: 0;
  }

  section {
    transition: filter 0.3s;
  }
  
  &.admin-bar {
    padding-top: 162px;

    header {
      top: 32px;
    }
  
    section.menu-hamburger {
      top: 32px;
    }

    nav.mobile {
      top: 32px;
    }
  }

  @media (max-width: 767.98px) {
    &.share-buttons-active {
      overflow: hidden;
    }

    &.admin-bar {
      #wpadminbar {
        position: fixed;
      }

      header {
        top: 46px;
      }
    
      section.menu-hamburger {
        top: 46px;
      }

      nav.mobile {
        top: 46px;
      }
    }
  }
  @media (max-width: 991.98px) {
    padding-top: 82px;

    &.admin-bar {
      padding-top: 82px;
    }
  }
}

/* Home */

body.page-template-template-home:not(.paged) {
  section.home-listagem,
  section.home-sugeridos.sugeridos-1,
  section.home-sugeridos.sugeridos-2 {
    padding-top: 0;
  }
}

body.single-post {
  section.post-comentarios {
    padding-top: 0;
  }
}