:root {
    --dark: #000;
    --light: #fff;
    --color-1: #FF1785;
    --color-2: #F8F8F8;
    --color-3: #FAFAFA;
    --color-4: #EFEFEF;

    /* tables_front */
    --color-5: #A6A6A6;
}

.color-1 { color: var(--color-1) !important; }
.font-weight-medium { font-weight: 500 !important; }
.font-weight-semibold { font-weight: 600 !important; }