/* Tables */
.mt-table {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    table {
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 30px;
        padding: 10px;

        &.no-head {
            tbody {
                tr {
                    &:first-child {
                        td {
                            &:first-child {
                                border-top-left-radius: 30px;
                            }
                            &:last-child {
                                border-top-right-radius: 30px;
                            }
                        }
                    }
                }
            }
        }

        thead {
            th {
                background-color: var(--color-1);
                border-radius: 30px 30px 0 0;
                text-align: center;
                padding: 15px 40px;
                color: var(--light);
                font-size: 22px;
            }
        }

        tbody {
            tr {
                td {
                    padding: 0;
                    font-size: 19px;
                    text-align: center;

                    span {
                        display: inline-block;
                        margin: 0 30px;
                        line-height: 30px;
                    }
                }

                &:not(.subtitle) {
                    &:nth-child(odd) {
                        td {
                            background-color: var(--color-4);
                        }
                    }
                }

                &:last-child {
                    td {
                        padding-bottom: 13px;

                        &:after {
                            bottom: 20%;
                            height: 80% !important;
                        }

                        &:first-child {
                            border-radius: 0 0 0 30px;
                        }

                        &:last-child {
                            border-radius: 0 0 30px 0;
                        }
                    }
                }
            }

            tr.subtitle {
                td {
                    background-color: rgba(255, 13, 133, 0.15);
                    color: var(--color-1);
                    font-weight: bold;
                    font-size: 19px;
                    padding: 15px 0;
                    position: relative;

                    &:after {
                        content: "";
                        width: 2px;
                        background-color: var(--light);
                        position: absolute;
                        right: 0;
                        top: 20%;
                        height: 60%;
                    }

                    &:last-child:after {
                        content: none;
                    }
                }
            }

            tr.content {
                td {
                    position: relative;

                    span {
                        line-height: 40px;
                        font-weight: 400 !important;

                        &.text-long {
                            line-height: 30px;
                        }
                    }

                    &:after {
                        content: "";
                        width: 2px;
                        background-color: rgba(0,0,0,.2);
                        position: absolute;
                        right: 0;
                        top: 0;
                        height: 100%;
                    }

                    &:last-child {
                        &:after {
                            content: none;
                        }
                    }
                }

                &.content-0 {
                    td {
                        padding-top: 13px;

                        &:after {
                            top: 20%;
                            height: 80%;
                        }
                    }
                }

                &.content-only {
                    td {
                        &:after {
                            height: 60% !important;
                        }
                    }
                }
            }
        }

        caption {
            font-size: .8rem;
            font-style: italic;
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        table {
            width: 100%;

            thead {
                th {
                    font-size: 17px;
                    padding: 15px 5px !important;
                }
            }

            tbody {
                tr {
                    &.subtitle {
                        td {
                            font-size: 16px;
                        }
                    }

                    td {
                        font-size: 16px;

                        span {
                            margin: 0 5px !important;
                        }
                    }
                }
            }

            &.responsive {
                tbody {
                    tr {                        
                        &.subtitle {
                            border: none;
                            clip: rect(0 0 0 0);
                            height: 1px;
                            margin: -1px;
                            overflow: hidden;
                            padding: 0;
                            position: absolute;
                            width: 1px;
                        }

                        &.content-0 {
                            td {
                                padding-top: 0;
                            }
                        }

                        &:not(.subtitle) {
                            td {
                                &:after {
                                    content: none;
                                }
                            }
                        }

                        &:last-child {
                            td {
                                &:first-child {
                                    border-radius: 0;
                                }

                                &:last-child {
                                    border-radius: 0 0 30px 30px;
                                }
                            }
                        }
    
                        td {
                            display: block;
                            text-align: right;
                            padding: 0 8px;

                            span {
                                line-height: 30px;
                                margin: 0 !important;

                                &.text-long {
                                    text-align: left;
                                    margin-bottom: 10px !important;
                                }
                            }
    
                            &:before {
                                content: attr(data-label) ':';
                                float: left;
                                font-weight: 500 !important;
                                display: block;
                                line-height: 30px;
                            }

                            &:first-child {
                                padding-top: 10px;
                            }

                            &:last-child {
                                padding-bottom: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}